@import url('https://at.alicdn.com/t/c/font_4431934_9v65giysr7u.css?spm=a313x.manage_type_myprojects.i1.9.1f053a81NaEOCu&file=font_4431934_9v65giysr7u.css');
@import './normalize';

$color-primary: #f8675d;
$color-sub: #666;
$color-text: #333;
$color-bg: #fff;
$color-border: #e5e5e5;
$cc: lighten($color-primary, 10%);
