.companions-exchange-videos {
  .code {
    padding: 24px;
    font-size: 18px;
    text-align: center;
    background-color: #fff;
    .label {
      font-weight: bold;
    }
    .code-text{
      color: $color-sub;
    }
    .copy-btn {
      padding: 6px 12px;
      margin-left: 12px;
      // font-size: 15px;
      color: #fff;
      background-color: $color-primary;
      border: none;
      border-radius: 4px;
    }
  }
}
